<% layout('/layouts/boilerplate.ejs') %>
<body>
  <h1>Airbnb</h1> 
    <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-1" >
      <% for(listing of allListing){%>
          <div class="card col" style="width: 17rem;" onclick="location.href='/listings/<%=listing._id%>'">
            <img class="card-img-top" src="<%=listing.image%>" alt="Card image cap">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b><%=listing.title%></b>
                <br>
                &#8377;<%=listing.price.toLocaleString('en-IN')%> / night
              </p>
            </div>
          </div>
      <%}%>
    </div>
</body>
